<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/prasanna.prabakaran/IdeaProjects/Webtable">
    <classes>
        <class name="webtable.WebTable">
        <methods>
            <include name="countStructure"/>
            <include name="printData"/>
            <include name="compareHeight"/>
            <include name="checkLastColumn"/>
        </methods>
    </class>
    </classes></test></suite>